body {
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Trebuchet MS", sans-serif; 
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 30px;
}

form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#searchButton {
    font-family: "Trebuchet MS", sans-serif; 
    border: none;
    outline: none;
    background-color: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
    font-weight: bold;
}


h3 {
    text-align: center;
}
p {
    text-align: center;
}